.gallery{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

  &__label, &__hashtag{
    display: block;
    text-transform: uppercase;
  }
  &__label{
    font-size: .75rem;
    color: gray;
    margin-bottom: 5px;
  }
  &__hashtag{
    font-size: 1.8rem;
    margin-bottom: 40px;
  }


  &__grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap:1px;

    *{
      max-width: 175px;
      max-height: 175px;

      img{
        display: inline-block;
        vertical-align: middle;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}